@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
    font-family: 'Quicksand', monospace;
    margin: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 55px;
    top: 0px;
    background-color: rgb(233, 237, 240);
}

.header {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header__icon {
    width: 55px;
    height: 55px;
}

.header__title {
    flex-grow: 1;
    font-size: 18px;
}

.header__menu-items {
    display: flex;
    justify-content: flex-end;
}

.header__menu-items-item {
    font-size: 13px;
    flex-grow: 1;
    margin-left: 10px;
}

.main__info {}

.main__info-img {}

.main__info-title {}

.main__info-text {}

.main__video {}

.main__cards {}

.main__cards-card {}

.main__cards-title {}

.main__cards-content {}

.main__cards-content-price {}

.main__cards-content-info {}

.main__cards-content-button {}

.footer {}

.footer__items {}

.footer__items-items {}

.footer__title {}