@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

* {
    font-family: 'Quicksand', monospace;
    margin: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    width: 80%;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 55px;
    top: 0px;
    background-color: rgb(233, 237, 240);
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.header__icon {
    width: 55px;
    height: 55px;
    margin: 5px;
}

.header__title {
    flex-grow: 1;
    font-size: 18px;
    margin: 5px;
}

.header__menu-items {
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
    margin: 5px;
}

.header__menu-items-item {
    font-size: 13px;
    flex-grow: 1;
    margin-left: 15px;
    cursor: pointer;
}

.header__menu-items-item:hover,
.footer__items-item:hover {
    color: rgb(174, 125, 33);
}

.main__form {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.main__form-button {
    width: 100px;
}

.main__form_title,
.main__form-button,
.main__form_input {
    margin: 7px auto;
}

.main__form_title {
    text-align: center;
}

.main__button_orange,
.main__form_input {
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.main__form_input {
    width: 30%;
    border: 1px rgb(238, 165, 31) solid;
    padding-left: 5px;
}

.main__button_orange {
    background-color: rgb(230, 163, 39);
    color: white;
    border: 2px solid white;
}

.main__button_orange:hover {
    background-color: white;
    color: rgb(230, 163, 39);
    border: 2px solid rgb(230, 163, 39);
    cursor: pointer;
}

.main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5% auto;
}

.main__info h3 {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: larger;
}

.main__info_card {
    margin: 5px 0;
    width: 80%;
}

.main__info-img {
    width: max-content;
    height: max-content;
    margin: 2px;
}

.main__video {
    display: flex;
    justify-content: center;

}

.main__video-frame {
    width: 560px;
    height: 315px;
}

.main__cards {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.main__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 2px rgb(174, 125, 33) solid;
    border-radius: 8px;
    margin: 5px 40px;
}

.main__cards-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(174, 125, 33);
    color: white;
    height: 30px;
    width: 100%;
}

.main__cards-content-info {
    white-space: nowrap;
}

.main__cards-content,
.main__cards-content-price,
.main__cards-content-info,
.main__cards-content-button {
    text-align: center;
    margin: 5px;
}

.main__cards-content {
    margin: 0 20px;
    padding: 10px;
}

.main__cards-content-button {
    width: 80%;
    margin: 10px;
}

.main__cards-content-price {
    font-size: x-large;
    margin: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: small;
    background-color: rgb(233, 237, 240);
    margin-top: 40px;
    padding: 20px;
    min-height: 30px;
}

.footer__items {
    display: flex;
    white-space: nowrap;
}

.footer__title {}

.footer__items-item {
    margin-right: 15px;
    cursor: pointer;
}

@media (max-width: 530px) {
    .header {
        justify-content: center;
        text-align: center;
    }

    .header__icon {
        display: none;
    }

    .main__form {
        margin-top: 30%;
    }

    .main__info_card {
        margin-top: 10px;
    }

    .main__info-img {
        display: none;
    }

    .main__info_card-text {
        text-align: center;
    }

    .main__video-frame {
        width: calc(560px / 1.7);
        height: calc(315px / 1.7);
    }
}